@import url('Teams.module.css');

:root {
	--animation-speed: 4s;
	--firstBase-animation-delay: 1.1s;
	--secondBase-animation-delay: 3.1s;
	--thirdBase-animation-delay: 5.1s;
	--homeBase-animation-delay: 7.1s;
	--offset-amount: 0;
	--stroke-amount: 0;
}

.wrapper {
	align-items: center;
	display: flex;
	flex-direction: column;
	flex-grow: 1;
	max-width: 100%;
	padding: 2cqw 2cqw 0;
	width: 860px;
}

.diamond {
	border: 3px solid var(--outline-color);
	display: inline-block;
	padding: 2cqw;
	position: relative;
	width: 100%;

	& > svg {
		height: auto;
		stroke: var(--outline-color);
		stroke-width: 10px;
	}

	.journey {
		animation: runTheBases var(--animation-speed) 1s linear forwards;
		stroke-dasharray: var(--stroke-amount);
		stroke-dashoffset: var(--stroke-amount);
		stroke-width: 20px;
	}

	.complete {
		opacity: 50%;
	}
}

.base {
	fill: var(--background-color);
	stroke: var(--outline-color);
}

.base.active {
	animation: activateBase .3s ease-out forwards;
}

.date {
	opacity: .5;
}

.date.active {
	animation: fadein 1s ease-out forwards;
}

.base.firstBase, .date.firstBase {
	animation-delay: calc(1s + var(--firstBase-animation-delay));
}

.base.secondBase, .date.secondBase {
	animation-delay: calc(1s + var(--secondBase-animation-delay));
}

.base.thirdBase, .date.thirdBase {
	animation-delay: calc(1s + var(--thirdBase-animation-delay));
}

.base.homeBase, .date.homeBase {
	animation-delay: calc(1s + var(--homeBase-animation-delay));
}

.reading {
	display: flex;
	flex-direction: column;
	flex-grow: 1;
	padding: 2cqw 0 0;
	text-align: left;
	width: 100%;

	h3 {
		font-size: 4.5cqw;
	}
}

.bold {
	font-weight: 400;
}

@keyframes fadein {
	0% { opacity: .5 }
	100% { opacity: 1 }
}

@keyframes runTheBases {
	0% { stroke-dashoffset: var(--stroke-amount);  }
	100% { stroke-dashoffset: var(--offset-amount);  }
}

@keyframes activateBase {
	0% {
		fill: var(--background-color);
		stroke-width: 10px;
	}
	100% {
		fill: var(--accent-color);
		stroke-width: 20px;
	}
}