.wrapper {
  aspect-ratio: 1 / 1;
  display: inline-block;
/*  height: 100%;*/
  position: relative;
  width: 100%;

  & > svg {
    animation: rotate 20s linear infinite;
    height: auto;
    position: absolute;
    transform-origin: center center;
  }

  & > svg:first-child {
    animation-direction: reverse;
    left: 26%;
    top: 26%;
    width: 48%;
  }

  & > svg:last-child {
    left: 0px;
    top: 0px;
    width: 100%;
  }
}

@keyframes rotate {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}