.athletics {
	--outline-color: #003831;
	--accent-color: #EFB21E;
	--tertiary-color: #a2aaad;
}

.pittsburghPirates {
	--outline-color: #27251F;
	--accent-color: #FDB827;
}

.sanDiegoPadres {
	--outline-color: #2F241D;
	--accent-color: #FFC425;
}

.seattleMariners {
	--outline-color: #0C2C56;
/*	--secondary-color: #005C5C;*/
	--accent-color: #C4CED4;
}

.sanFranciscoGiants {
	--accent-color: #FD5A1E;
	--outline-color: #27251F;
	/*--tertiary-color: #EFD19F;
	--quarternary-color: #AE8F6F;*/
}

.stLouisCardinals {
	--outline-color: #C41E3A;
/*	--secondary-color: #0C2340;*/
	--accent-color: #FEDB00;
}

.tampaBayRays {
	--outline-color: #092C5C;
	--accent-color: #8FBCE6;
	/*--tertiary-color: #F5D130;
	--quarternary-color: #FFFFFF;*/
}

.texasRangers {
	--outline-color: #003278;
	--accent-color: #C0111F;
}

.torontoBlueJays {
	--outline-color: #134A8E;
/*	--secondary-color: #1D2D5C;*/
	--accent-color: #E8291C;
}

.minnesotaTwins {
	--outline-color: #002B5C;
	--accent-color: #D31145;
/*	--tertiary-color: #B9975B;*/
}

.philadelphiaPhillies {
	--outline-color: #002d72;
	--accent-color: #E81828;
/*	--tertiary-color: #FFFFFF;*/
}

.atlantaBraves {
	--outline-color: #CE1141;
/*	--secondary-color: #13274F;*/
	--accent-color: #EAAA00;
/*	--quarternary-color: #FFFFFF;*/
}

.chicagoWhiteSox {
	--outline-color: #27251F;
	--accent-color: #C4CED4;
}

.miamiMarlins {
	--outline-color: #00A3E0;
	--accent-color: #EF3340;
	/*--tertiary-color: #41748D;
	--quarternary-color: #000000;*/
}

.newYorkYankees {
	--outline-color: #0C2340;
	--accent-color: #C4CED3;
}

.milwaukeeBrewers {
	--outline-color: #12284b;
	--accent-color: #ffc52f;
}

.losAngelesAngels {
	--outline-color: #003263;
	--accent-color: #BA0021;
	/*--tertiary-color: #862633;
	--quarternary-color: #C4CED4;
	--quinary-color: #FFFFFF;*/
}

.arizonaDiamondbacks {
	--outline-color: #A71930;
	--accent-color: #E3D4AD;
}

.baltimoreOrioles {
	--outline-color: #000000;
	--accent-color: #DF4601;
}

.bostonRedSox {
	--outline-color: #0C2340;
	--accent-color: #BD3039;
	--tertiary-color: #FFFFFF;
}

.chicagoCubs {
	--outline-color: #0E3386;
	--accent-color: #CC3433;
}

.cincinnatiReds {
	--outline-color: #000000;
	--accent-color: #C6011F;
}

.clevelandGuardians {
	--outline-color: #00385D;
	--accent-color: #E50022;
/*	--tertiary-color: #FFFFFF;*/
}

.coloradoRockies {
	--outline-color: #333366;
	--accent-color: #C4CED4;
/*	--tertiary-color: #131413;*/
}

.detroitTigers {
	--outline-color: #0C2340;
	--accent-color: #FA4616;
}

.houstonAstros {
	--outline-color: #002D62;
	--accent-color: #EB6E1F;
/*	--tertiary-color: #F4911E;*/
}

.kansasCityRoyals {
	--outline-color: #004687;
	--accent-color: #BD9B60;
}

.losAngelesDodgers {
	--outline-color: #005A9C;
	--accent-color: #EF3E42;
/*	--tertiary-color: #A5ACAF;*/
}

.washingtonNationals {
	--outline-color: #14225A;
	--accent-color: #AB0003;
	--tertiary-color: #FFFFFF;
}

.newYorkMets {
	--outline-color: #002D72;
	--accent-color: #FF5910;
}