.card {
  border: 3px solid #191919;
  container-type: inline-size;
  height: calc(75vw / (2.5 / 3.5));
  max-height: calc(100vh - 1rem);
  max-width: calc((100vh - 1rem) * (2.5 / 3.5));
  padding: 1rem;
  width:75vw
}

.h1 {
  font-family: "Shrikhand", serif;
  font-size: 3rem;
  padding: 0 0 .75rem;
  text-align: center;
}

.innerCard {
  border: 3px solid #191919;
  border-radius: 1rem;
  display: flex;
  flex-direction: column;
  height: 100%;
  justify-content: space-between;
  overflow: hidden;
  padding: 1rem;
  position: relative;
  width: 100%;

  @container (min-width: 391px) {
    .h1 {
      font-size: 14cqw;
      padding: 3cqh 0 0;
    }

    .h2Wrapper {
      background-color: #ffffff;
      border: 3px solid #191919;
      padding: 1rem;
      text-align: center;
      transform: skew(7.5deg, -7.5deg) translate(-25%, -30%);
      transform-origin: center center;
      width: 200%;

      .h2 {
        font-size: 4.75cqw;
        transform: translate(50%, 0);
        width: 50%;
      }
    }

    .select {
      [class$="-singleValue"] div {
        padding: 1rem;
      }

      [class$="-singleValue"], [class$="-placeholder"] {
        font-size: 4.75cqw;
      }
    }
  }

  @container (max-width: 390px) {
    .h1 {
      /* keep an eye on this */
      font-size: 2rem;
    }
  }
}

.logoWrapper {
  left: 50%;
  position: absolute;
  opacity: .1;
  top: -10%;
  transform: translate(-50%, 0);
  width: 150%;
  z-index: -1;
}

/*.wrapper {
  max-width: 100vw;
  padding: 1rem;
  text-align: center;
  transition: height .3s ease-out;
  width: 1024px;
}

.h1 {
  font-family: "Shrikhand", serif;
  font-size: 3rem;
  padding: 0 0 .75rem;
}

.h2 {
  font-size: 1.5rem;
  font-weight: 200;
  padding: 0 0 3rem;
  transition: height .1s ease-out, opacity .1s ease-out, padding .1s ease-out;
}

.explainer {
  height: 0;
  padding: 3rem 0 0;
  opacity: 0;
  transition: height .1s ease-out, opacity .1s ease-out;
}

.showTeam.wrapper {
  height: 100vh;
}

.showTeam .h2 {
  height: 0;
  opacity: 0;
  padding: 0;
}

.showTeam .explainer {
  height: auto;
  opacity: 1;
}

@media screen and (max-width: 1023px) {
  .wrapper {
    width: 500px;
  }
}

@media screen and (max-width: 499px) {
  .h1 {
    font-size: 2rem;
  }

  .h2 {
    font-size: 1.2rem;
    padding: 0 0 1rem;
  }
}*/