@import url('./components/Teams.module.css');

:root {
  --card-changing-speed: .5s;
  --accent-color: #fcfbf8;
  --background-color: #fcfbf8;
  --outline-color: #001433;
  --text-color: #001433;
}

body {
  background-color: var(--background-color);
  width: 100vw;
}

  nav {
    width: 100%;

    button {
      background: none;
      border: 0;
      color: var(--text-color);
      font-family: "Shrikhand";

      &:hover {
        cursor: pointer;
      }
    }
  }

.wrapper {
  & > div {
    
    /* home */
    & > div:nth-child(1) {

      & > div {
        background-color: transparent;
      }

    .logoWrapper {
        left: 50%;
        position: absolute;
        opacity: .075;
        top: -10%;
        transform: translate(-50%, 0);
        width: 150%;
        z-index: -1;
      }

      .h1 {
        padding: 0 0 .75rem;
      }
      
      .h1 {
        font-size: 14cqw;
        padding: 3cqh 0 0;
      }

      .h2Wrapper {
        background-color: var(--background-color);
        border: 3px solid var(--outline-color);
        padding: 1cqh;
        text-align: center;
        transform: skew(7.5deg, -7.5deg);
        transform-origin: center center;
        width: 200%;

        .h2 {
          font-size: 4.75cqw;
          transform: translate(50%, 0);
          width: 50%;
        }
      }

      .select {
        width: 100%; 

        * {
          line-height: calc(1em + 0.5rem);
        }

        [class$="-singleValue"], [class$="-placeholder"] {
          color: var(--text-color);
          font-size: 4.75cqw;
          padding: 2cqw;
        }
      }
    }

    /* about */
    & > div:nth-child(2) {
      text-align: center;

      button {
        align-self: flex-end;
        background: none;
        border: 0;
        font-family: "Shrikhand";
      }

      .copy {
        display: flex;
        flex-direction: column;
        flex-grow: 1;
        justify-content: center;
        padding: 4cqw;
      }
    }

    /* stats */
    & > div:nth-child(3) {
      background-color: var(--outline-color);

      & > div {
        border-width: 0;
        padding: 0 0 2cqw;
      }

      .headerWrapper {
        align-items: center;
        border: 3px solid var(--outline-color);
        border-width: 0 0 3px;
        display: flex;
        width: 100%;
      }

      .logoWrapper {
        border: 3px solid var(--outline-color);
        border-width: 0 3px 0 0;
        width: 12cqw;
      }

      .titleWrapper {
        flex-grow: 1;

        .h1 {
          font-size: 4cqw;
        }
      }

      .clearTeam {
        background-color: var(--accent-color);
        border: 0;
        padding: 2cqw;
        width: calc(100% - 4cqw);

        &:hover {
          cursor: pointer;
        }

        & span {
          color: var(--outline-color);
          filter: invert(1) brightness(0);
        }
      }
    }
  }
}

.h1 {
  font-family: "Shrikhand", serif;
  text-align: center;
}

@media screen and (max-width: 522px) {
  body {
    min-height: 0;
    min-width: 0;
    place-items: start;
  }

  nav {
    text-align: center;
  }

  .wrapper {
    .h2Wrapper {
      margin: 8cqw 0;
    }
  }
}

@media screen and (min-width: 523px) {
  body {
    width: 100%;
    height: 100%;
    overflow: hidden;
  }
}